# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
ENV/
venv/
.env.*
*.env
*.pkl
*.sqlite3
*.db
*.log


# VSCode
.vscode/

# macOS
.DS_Store

# Next.js
.next/
out/
node_modules/
package-lock.json
yarn.lock
npm-debug.log
.next/cache/
.env.local
.env.development.local
.env.test.local
.env.production.local

# General
*.swp
*.swo
.idea/
